@import "vars";

.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 1rem;
  max-width: 82rem;
  width: 100%;

  margin: 0 auto;
}