*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

ul[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
li {
  margin: 0;
}

html {
  font-family: Roboto, monospace;
  font-size: 15px;
  font-weight: 400;
  color: #999;
}

input,
button,
textarea,
select {
  font: inherit;
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "KaushanScript";
  font-style: normal;
  font-weight: 400;
  src: local("KaushanScript"), local("KaushanScript-Regular"), url("../fonts/KaushanScript-Regular.ttf");
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.header__logo {
  font-weight: 700;
  font-size: 2rem;
}

.header__link {
  margin-left: 3.3rem;
  padding-bottom: 0.6rem;
  font-weight: 400;
  font-size: 0.93rem;
  text-decoration: none;
  text-transform: uppercase;
}
.header__link_active {
  color: #fce38a;
  border-bottom: 0.2rem solid #fce38a;
}

.intro {
  font-family: Montserrat, monospace;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: url("../images/intro/intro_bg.jpg") no-repeat;
  background-size: cover;
}

.intro__subtitle {
  margin-top: 10rem;
  font-family: KaushanScript, monospace;
  font-weight: 400;
  font-size: 4.8rem;
  text-align: center;
}

.intro__title {
  margin: 0 auto;
  max-width: 58rem;
  width: 100%;
  font-size: 10rem;
  text-align: center;
  text-transform: uppercase;
}
.intro__title:after {
  content: "";
  display: block;
  width: 4rem;
  height: 0.2rem;
  background: #fff;
  margin: 3rem auto 4rem;
}

.intro__btn {
  padding: 0.8rem 2rem;
  font-size: 0.93rem;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2rem solid #fff;
}

.intro__slider {
  margin-top: 10rem;
  display: flex;
}

.intro__link {
  flex: 1;
  padding: 1.3rem 0;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  border-top: 0.2rem solid rgba(255, 255, 255, 0.5);
}
.intro__link:not(:last-child) {
  margin-right: 2rem;
}
.intro__link span {
  margin-right: 0.5rem;
  font-weight: 700;
  font-size: 1.6rem;
}
.intro__link_active {
  position: relative;
  border-color: #fff;
}
.intro__link_active:before {
  position: absolute;
  top: -0.2rem;
  content: "";
  display: block;
  width: 4.6rem;
  height: 0.2rem;
  background: #f38181;
}

.section {
  padding-bottom: 7.3rem;
}
.section_small {
  padding-bottom: 0;
}

.section__header {
  color: #333;
  text-align: center;
}

.section__subtitle {
  margin-top: 6rem;
  font-family: KaushanScript, monospace;
  font-weight: 400;
  font-size: 1.6rem;
}

.section__title {
  margin-top: 1rem;
  font-family: Montserrat, monospace;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}
.section__title:after {
  content: "";
  display: block;
  width: 4rem;
  height: 0.2rem;
  background: #f38181;
  margin: 2.5rem auto 3rem;
}

.section__text {
  margin: 0 auto;
  padding-bottom: 6.6rem;
  max-width: 63rem;
  width: 100%;
  text-align: center;
  line-height: 1.6;
}

.media {
  display: flex;
  justify-content: space-between;
}

.media__item:hover .media__img {
  transform: translate(-10px, -10px);
}
.media__item:hover .media__img img {
  opacity: 0.1;
}
.media__item:hover .media__text,
.media__item:hover .media__social-networks {
  opacity: 1;
}

.media__bg {
  position: relative;
  background: #95e1d3;
}

.media__img {
  transition: all 0.3s linear 0s;
  background: linear-gradient(to bottom, #f38181, #fce38a);
}
.media__img img {
  display: block;
  transition: all 0.3s linear 0s;
}

.media__text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat, monospace;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s linear 0s;
}
.media__text:before {
  content: url("../images/about/users.svg");
  display: block;
  text-align: center;
}

.media__social-networks {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  transition: all 0.3s linear 0s;
}

.media__social-network {
  width: 3.6rem;
  height: 3.6rem;
  background: #fce38a;
  cursor: pointer;
}
.media__social-network:not(.media__social-network:last-child) {
  border-right: 0.06rem solid rgba(243, 129, 129, 0.1);
}
.media__social-network img {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.media__social-network_active {
  background: #f38181;
}

.media__caption {
  margin-top: 2rem;
  text-align: center;
}

.media__name {
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #333;
  text-transform: uppercase;
}

.media__role {
  margin-top: 0.4rem;
  font-style: italic;
  font-weight: 300;
}

.statistics {
  background: #95e1d3;
}

.statistics__items {
  display: flex;
}

.statistics__item {
  flex: 1;
  padding: 6rem 0;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.statistics__item:not(.statistics__item:last-child) {
  border-right: 0.06rem solid rgba(255, 255, 255, 0.5);
}

.statistics__num {
  font-weight: 700;
  font-size: 4.8rem;
}

.services__box {
  display: flex;
  flex-direction: column;
}

.services__row {
  display: flex;
  padding: 3.3rem 0;
}
.services__row:not(.services__row:last-child) {
  border-bottom: 0.06rem solid #e5e5e5;
}

.services__item {
  flex: 1;
  display: flex;
  padding: 0 2rem;
}

.services__icon {
  margin-right: 1.6rem;
}

.services__title {
  margin-bottom: 1rem;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  text-transform: uppercase;
  color: #333;
}

.services__info {
  line-height: 1.8;
}

.design {
  background: url("../images/design/design-bg.jpg") no-repeat;
  background-size: cover;
}

.design__content {
  position: relative;
}

.design__img_main img {
  display: block;
  margin: 0 auto;
}
.design__img_small {
  position: absolute;
  top: 38%;
  left: 60%;
}

.suggestion__content {
  display: flex;
}

.suggestion__img {
  flex: 1;
  margin-right: 2rem;
}

.suggestion__accordion {
  flex: 1;
}

.accordion__item {
  position: relative;
  border-collapse: collapse;
}
.accordion__item:not(.accordion__item:last-child) {
  margin-bottom: 0.6rem;
}
.accordion__item_active .accordion__content {
  display: block;
}
.accordion__item_active .accordion__title:after {
  transform: rotate(180deg);
}

.accordion__header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 0.06rem solid #e5e5e5;
}

.accordion__ico {
  margin-right: 1rem;
}

.accordion__title {
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  text-transform: uppercase;
  color: #333;
}
.accordion__title:after {
  content: url("../images/suggestion/arrow-down.svg");
  position: absolute;
  right: 1rem;
}

.accordion__content {
  display: none;
  padding: 1rem;
  border: 0.06rem solid #e5e5e5;
  font-style: italic;
  line-height: 1.5;
  color: #999;
}

.slider {
  background: #f8f8f8;
}
.slider.reviews {
  background: #fff;
}

.slider__item {
  display: flex;
  padding: 4.6rem 0;
}
.slider__item:before, .slider__item:after {
  content: url("../images/quotes/arrow.svg");
  display: flex;
  align-items: center;
  padding: 0 4.6rem 0 1.3rem;
}
.slider__item:after {
  transform: rotate(180deg);
  padding: 0 1.3rem 0 4.6rem;
}

.slider__media {
  position: relative;
  margin-right: 4rem;
}

.slider__img_positioned {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider__text {
  font-style: italic;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.slider__signature {
  font-family: KaushanScript, monospace;
  font-size: 1.6rem;
  color: #333;
}
.slider__signature:before {
  content: "";
  display: inline-block;
  width: 4rem;
  height: 0.2rem;
  background: #f38181;
  margin-right: 0.6rem;
  vertical-align: middle;
}

.logos {
  padding: 4rem 0;
  background: #f8f8f8;
}

.logos__row {
  display: flex;
  justify-content: space-between;
}

.gallery {
  display: flex;
}

.gallery__col {
  display: flex;
  flex-direction: column;
}

.gallery__item {
  position: relative;
  background: linear-gradient(to bottom, #f38181, #fce38a);
}
.gallery__item img {
  display: block;
  transition: all 0.3s linear 0s;
}
.gallery__item:hover img {
  opacity: 0.1;
}
.gallery__item:hover .gallery__text {
  opacity: 1;
}

.gallery__text {
  opacity: 0;
  transition: all 0.3s linear 0s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.gallery__text:before {
  content: url("../images/works/ico.svg");
}

.gallery__title {
  margin-top: 1rem;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #fff;
  text-transform: uppercase;
}

.galley__subtitle {
  margin-top: 0.9rem;
  font-style: italic;
  font-weight: 300;
  color: #fff;
}

.clients {
  background: url("../images/clients/bg.jpg") no-repeat;
  background-size: cover;
}

.clients__reviews {
  display: flex;
}

.clients__col {
  flex: 1;
}

.clients__item {
  display: flex;
}
.clients__item:not(.clients__item:last-child) {
  margin-bottom: 4.6rem;
}

.clients__avatar {
  margin: 0 1.6rem 0 2.6rem;
}

.clients__content {
  margin-right: 3rem;
}

.clients__name {
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #333;
  text-transform: uppercase;
}

.clients__role {
  margin-top: 0.6rem;
  font-style: italic;
  font-weight: 300;
}
.clients__role:after {
  margin-top: 1rem;
  content: "";
  display: block;
  width: 4rem;
  height: 0.2rem;
  background: #f38181;
}

.clients__info {
  margin-top: 1.3rem;
  line-height: 1.6rem;
}

.blog__feed {
  display: flex;
}

.blog__item:not(.blog__item:last-child) {
  margin-right: 2rem;
}

.blog__img {
  position: relative;
}
.blog__img img {
  display: block;
}

.blog__data {
  position: absolute;
  left: -0.6rem;
  bottom: 0.6rem;
  padding: 1rem;
  font-style: italic;
  font-weight: 300;
  color: #fff;
  background: #95e1d3;
}
.blog__data div {
  font-family: Montserrat, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
}

.blog__title {
  margin-top: 0.8rem;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #333;
  text-transform: uppercase;
}

.blog__text {
  margin-top: 0.8rem;
  padding-bottom: 1.3rem;
  border-bottom: 0.06rem solid #e5e5e5;
}

.blog__info {
  margin-top: 1rem;
  font-style: italic;
  font-weight: 300;
}

.blog__views {
  margin-right: 1rem;
}
.blog__views:before {
  content: url("../images/blog/view.svg");
  margin-right: 0.4rem;
  vertical-align: middle;
}

.blog__comments:before {
  content: url("../images/blog/speech.svg");
  margin-right: 0.4rem;
  vertical-align: middle;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
