*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

ul[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
li {
  margin: 0;
}

html {
  font-family: Roboto, monospace;
  font-size: 15px;
  font-weight: 400;
  color: #999;
}

input,
button,
textarea,
select {
  font: inherit;
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "KaushanScript";
  font-style: normal;
  font-weight: 400;
  src: local("KaushanScript"), local("KaushanScript-Regular"), url("../fonts/KaushanScript-Regular.ttf");
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
@media (max-width: 1366px) {
  .header {
    padding-top: 1.4rem;
  }
}

.header__logo {
  font-weight: 700;
  font-size: 2rem;
}
@media (max-width: 1366px) {
  .header__logo {
    font-size: 1.4rem;
  }
}

.header__link {
  margin-left: 3.3rem;
  padding-bottom: 0.6rem;
  font-weight: 400;
  font-size: 0.93rem;
  text-decoration: none;
  text-transform: uppercase;
}
.header__link_active {
  color: #fce38a;
  border-bottom: 0.2rem solid #fce38a;
}
@media (max-width: 1366px) {
  .header__link_active {
    border-width: 0.14rem;
  }
}
@media (max-width: 1366px) {
  .header__link {
    margin-left: 2.35rem;
    padding-bottom: 0.42rem;
    font-size: 0.66rem;
  }
}

.intro {
  min-height: 100vh;
  font-family: Montserrat, monospace;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: url("../images/intro/intro_bg.jpg") no-repeat;
  background-size: cover;
}

.intro__subtitle {
  margin-top: 10rem;
  font-family: KaushanScript, monospace;
  font-weight: 400;
  font-size: 4.8rem;
  text-align: center;
}
@media (max-width: 1366px) {
  .intro__subtitle {
    margin-top: 7.14rem;
    font-size: 3.42rem;
  }
}

.intro__title {
  margin: 0 auto;
  max-width: 58rem;
  width: 100%;
  font-size: 10rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 9.3rem;
}
.intro__title:after {
  content: "";
  display: block;
  width: 4rem;
  height: 0.2rem;
  background: #fff;
  margin: 3rem auto 4rem;
}
@media (max-width: 1366px) {
  .intro__title:after {
    width: 2.8rem;
    height: 0.14rem;
    margin: 2.14rem auto 2.8rem;
  }
}
@media (max-width: 1366px) {
  .intro__title {
    max-width: 41.42rem;
    font-size: 7.14em;
  }
}

.intro__btn {
  padding: 0.8rem 2rem;
  font-size: 0.93rem;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2rem solid #fff;
}
@media (max-width: 1366px) {
  .intro__btn {
    padding: 0.57rem 1.42rem;
    font-size: 0.66rem;
    border-width: 0.14rem;
  }
}

.intro__slider {
  margin-top: 10rem;
  display: flex;
}
@media (max-width: 1366px) {
  .intro__slider {
    margin-top: 7.14rem;
  }
}

.intro__link {
  flex: 1;
  padding: 1.3rem 0;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  border-top: 0.2rem solid rgba(255, 255, 255, 0.5);
}
.intro__link:not(:last-child) {
  margin-right: 2rem;
}
@media (max-width: 1366px) {
  .intro__link:not(:last-child) {
    margin-right: 1.4rem;
  }
}
.intro__link span {
  margin-right: 0.5rem;
  font-weight: 700;
  font-size: 1.6rem;
}
@media (max-width: 1366px) {
  .intro__link span {
    margin-right: 0.35rem;
    font-size: 1.14rem;
  }
}
.intro__link_active {
  position: relative;
  border-color: #fff;
}
.intro__link_active:before {
  position: absolute;
  top: -0.2rem;
  content: "";
  display: block;
  width: 4.6rem;
  height: 0.2rem;
  background: #f38181;
}
@media (max-width: 1366px) {
  .intro__link_active:before {
    top: -0.14rem;
    width: 3.28rem;
    height: 0.14rem;
  }
}
@media (max-width: 1366px) {
  .intro__link {
    padding: 0.92rem 0;
    font-size: 0.85rem;
    border-width: 0.14rem;
  }
}

.section {
  padding-bottom: 7.3rem;
}
@media (max-width: 1366px) {
  .section {
    padding-bottom: 5.21rem;
  }
}
.section_small {
  padding-bottom: 0;
}

.section__header {
  color: #333;
  text-align: center;
}

.section__subtitle {
  margin-top: 6rem;
  font-family: KaushanScript, monospace;
  font-weight: 400;
  font-size: 1.6rem;
}
@media (max-width: 1366px) {
  .section__subtitle {
    margin-top: 4.28rem;
    font-size: 1.14rem;
  }
}

.section__title {
  margin-top: 1rem;
  font-family: Montserrat, monospace;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}
.section__title:after {
  content: "";
  display: block;
  width: 4rem;
  height: 0.2rem;
  background: #f38181;
  margin: 2.5rem auto 3rem;
}
@media (max-width: 1366px) {
  .section__title:after {
    width: 2.85rem;
    height: 0.14rem;
    margin: 1.78rem auto 2.14rem;
  }
}
@media (max-width: 1366px) {
  .section__title {
    margin-top: 0.71rem;
    font-size: 1.42rem;
  }
}

.section__text {
  margin: 0 auto;
  padding-bottom: 6.6rem;
  max-width: 63rem;
  width: 100%;
  text-align: center;
  line-height: 1.6;
}
@media (max-width: 1366px) {
  .section__text {
    padding-bottom: 4.71rem;
    max-width: 45rem;
    font-size: 0.7rem;
  }
}

.media {
  display: flex;
  justify-content: space-between;
}

.media__item:hover .media__img {
  transform: translate(-10px, -10px);
}
.media__item:hover .media__img img {
  opacity: 0.1;
}
.media__item:hover .media__text,
.media__item:hover .media__social-networks {
  opacity: 1;
}

.media__bg {
  position: relative;
  background: #95e1d3;
}

.media__img {
  transition: all 0.3s linear 0s;
  background: linear-gradient(to bottom, #f38181, #fce38a);
}
.media__img img {
  display: block;
  transition: all 0.3s linear 0s;
}
@media (max-width: 1366px) {
  .media__img img {
    width: 18rem;
  }
}

.media__text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat, monospace;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s linear 0s;
}
.media__text:before {
  content: url("../images/about/users.svg");
  display: block;
  text-align: center;
}
@media (max-width: 1366px) {
  .media__text {
    font-size: 0.85rem;
  }
}

.media__social-networks {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  transition: all 0.3s linear 0s;
}

.media__social-network {
  width: 3.6rem;
  height: 3.6rem;
  background: #fce38a;
  cursor: pointer;
}
.media__social-network:not(.media__social-network:last-child) {
  border-right: 0.06rem solid rgba(243, 129, 129, 0.1);
}
.media__social-network img {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.media__social-network_active {
  background: #f38181;
}
@media (max-width: 1366px) {
  .media__social-network {
    width: 2.57rem;
    height: 2.57rem;
  }
}

.media__caption {
  margin-top: 2rem;
  text-align: center;
}
@media (max-width: 1366px) {
  .media__caption {
    margin-top: 1.42rem;
  }
}

.media__name {
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #333;
  text-transform: uppercase;
}
@media (max-width: 1366px) {
  .media__name {
    font-size: 0.66rem;
  }
}

.media__role {
  margin-top: 0.4rem;
  font-style: italic;
  font-weight: 300;
}
@media (max-width: 1366px) {
  .media__role {
    margin-top: 0.28rem;
    font-size: 0.71rem;
  }
}

.statistics {
  background: #95e1d3;
}

.statistics__items {
  display: flex;
}

.statistics__item {
  flex: 1;
  padding: 6rem 0;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.statistics__item:not(.statistics__item:last-child) {
  border-right: 0.06rem solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 1366px) {
  .statistics__item {
    padding: 4.28rem 0;
    font-size: 0.66rem;
  }
}

.statistics__num {
  font-weight: 700;
  font-size: 4.8rem;
}
@media (max-width: 1366px) {
  .statistics__num {
    font-size: 3.42rem;
  }
}

.services__box {
  display: flex;
  flex-direction: column;
}

.services__row {
  display: flex;
  padding: 3.3rem 0;
}
.services__row:not(.services__row:last-child) {
  border-bottom: 0.06rem solid #e5e5e5;
}
@media (max-width: 1366px) {
  .services__row {
    padding: 2.3rem 0;
  }
}

.services__item {
  flex: 1;
  display: flex;
  padding: 0 2rem;
}
@media (max-width: 1366px) {
  .services__item {
    padding: 0 1.42rem;
  }
}

.services__icon {
  margin-right: 1.6rem;
}
@media (max-width: 1366px) {
  .services__icon {
    margin-right: 1.14rem;
  }
}

.services__title {
  margin-bottom: 1rem;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  text-transform: uppercase;
  color: #333;
}
@media (max-width: 1366px) {
  .services__title {
    margin-bottom: 0.71rem;
    font-size: 0.66rem;
  }
}

.services__info {
  line-height: 1.8;
}
@media (max-width: 1366px) {
  .services__info {
    font-size: 0.7rem;
    line-height: 1.28;
  }
}

.design {
  background: url("../images/design/design-bg.jpg") no-repeat;
  background-size: cover;
}

.design__content {
  position: relative;
}

.design__img_main img {
  display: block;
  margin: 0 auto;
}
.design__img_small {
  position: absolute;
  top: 38%;
  left: 60%;
}

.suggestion__content {
  display: flex;
}

.suggestion__img {
  flex: 1;
  margin-right: 2rem;
}
@media (max-width: 1366px) {
  .suggestion__img img {
    width: 27.14rem;
  }
}
@media (max-width: 1366px) {
  .suggestion__img {
    margin-right: 1.42rem;
  }
}

.suggestion__accordion {
  flex: 1;
}

.accordion__item {
  position: relative;
  border-collapse: collapse;
}
.accordion__item:not(.accordion__item:last-child) {
  margin-bottom: 0.6rem;
}
@media (max-width: 1366px) {
  .accordion__item:not(.accordion__item:last-child) {
    margin-bottom: 0.42rem;
  }
}
.accordion__item_active .accordion__content {
  display: block;
}
.accordion__item_active .accordion__title:after {
  transform: rotate(180deg);
}

.accordion__header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 0.06rem solid #e5e5e5;
}
@media (max-width: 1366px) {
  .accordion__header {
    padding: 0.71rem;
  }
}

.accordion__ico {
  margin-right: 1rem;
}
@media (max-width: 1366px) {
  .accordion__ico {
    margin-right: 0.71rem;
  }
}

.accordion__title {
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  text-transform: uppercase;
  color: #333;
}
@media (max-width: 1366px) {
  .accordion__title {
    font-size: 0.66rem;
  }
}
.accordion__title:after {
  content: url("../images/suggestion/arrow-down.svg");
  position: absolute;
  right: 1rem;
}
@media (max-width: 1366px) {
  .accordion__title:after {
    right: 0.71rem;
  }
}

.accordion__content {
  display: none;
  padding: 1rem;
  border: 0.06rem solid #e5e5e5;
  font-style: italic;
  line-height: 1.5;
  color: #999;
}
@media (max-width: 1366px) {
  .accordion__content {
    padding: 0.71rem;
    line-height: 1.07;
    font-size: 0.71rem;
  }
}

.slider {
  background: #f8f8f8;
}
.slider.reviews {
  background: #fff;
}

.slider__item {
  display: flex;
  padding: 4.6rem 0;
}
@media (max-width: 1366px) {
  .slider__item {
    padding: 3.28rem 0;
  }
}
.slider__item:before, .slider__item:after {
  content: url("../images/quotes/arrow.svg");
  display: flex;
  align-items: center;
  padding: 0 4.6rem 0 1.3rem;
}
@media (max-width: 1366px) {
  .slider__item:before, .slider__item:after {
    padding: 0 3.28rem 0 0.92rem;
  }
}
.slider__item:after {
  transform: rotate(180deg);
  padding: 0 1.3rem 0 4.6rem;
}
@media (max-width: 1366px) {
  .slider__item:after {
    padding: 0 0.92rem 0 3.28rem;
  }
}

.slider__media {
  position: relative;
  margin-right: 4rem;
}
@media (max-width: 1366px) {
  .slider__media {
    margin-right: 2.85rem;
  }
}

.slider__img {
  display: block;
}
@media (max-width: 1366px) {
  .slider__img {
    width: 7rem;
  }
}
.slider__img_positioned {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1366px) {
  .slider__img_positioned {
    width: 50%;
  }
}

.slider__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider__text {
  font-style: italic;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
@media (max-width: 1366px) {
  .slider__text {
    font-size: 1.14rem;
    line-height: 1.71rem;
  }
}

.slider__signature {
  font-family: KaushanScript, monospace;
  font-size: 1.6rem;
  color: #333;
}
@media (max-width: 1366px) {
  .slider__signature {
    font-size: 1.14rem;
  }
}
.slider__signature:before {
  content: "";
  display: inline-block;
  width: 4rem;
  height: 0.2rem;
  background: #f38181;
  margin-right: 0.6rem;
  vertical-align: middle;
}
@media (max-width: 1366px) {
  .slider__signature:before {
    width: 2.85rem;
    height: 0.14rem;
    margin-right: 0.42rem;
  }
}

.logos {
  padding: 4rem 0;
  background: #f8f8f8;
}
@media (max-width: 1366px) {
  .logos {
    padding: 2.8rem 0;
  }
}

.logos__row {
  display: flex;
  justify-content: space-between;
}

.gallery {
  display: flex;
}

.gallery__col {
  display: flex;
  flex-direction: column;
}

.gallery__item {
  position: relative;
  background: linear-gradient(to bottom, #f38181, #fce38a);
}
.gallery__item img {
  display: block;
  transition: all 0.3s linear 0s;
}
.gallery__item:hover img {
  opacity: 0.1;
}
.gallery__item:hover .gallery__text {
  opacity: 1;
}

.gallery__text {
  opacity: 0;
  transition: all 0.3s linear 0s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.gallery__text:before {
  content: url("../images/works/ico.svg");
}

.gallery__title {
  margin-top: 1rem;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #fff;
  text-transform: uppercase;
}

.galley__subtitle {
  margin-top: 0.9rem;
  font-style: italic;
  font-weight: 300;
  color: #fff;
}

.clients {
  background: url("../images/clients/bg.jpg") no-repeat;
  background-size: cover;
}

.clients__reviews {
  display: flex;
}

.clients__col {
  flex: 1;
}

.clients__item {
  display: flex;
}
.clients__item:not(.clients__item:last-child) {
  margin-bottom: 4.6rem;
}
@media (max-width: 1366px) {
  .clients__item:not(.clients__item:last-child) {
    margin-bottom: 3.28rem;
  }
}

.clients__avatar {
  margin: 0 1.6rem 0 2.6rem;
}
@media (max-width: 1366px) {
  .clients__avatar {
    margin: 0 1.14rem 0 1.85rem;
  }
}

.clients__content {
  margin-right: 3rem;
}
@media (max-width: 1366px) {
  .clients__content {
    margin-right: 2.14rem;
  }
}

.clients__name {
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #333;
  text-transform: uppercase;
}
@media (max-width: 1366px) {
  .clients__name {
    font-size: 0.66rem;
  }
}

.clients__role {
  margin-top: 0.6rem;
  font-style: italic;
  font-weight: 300;
}
@media (max-width: 1366px) {
  .clients__role {
    margin-top: 0.42rem;
    font-size: 0.71rem;
  }
}
.clients__role:after {
  margin-top: 1rem;
  content: "";
  display: block;
  width: 4rem;
  height: 0.2rem;
  background: #f38181;
}
@media (max-width: 1366px) {
  .clients__role:after {
    margin-top: 0.71rem;
    width: 2.85rem;
    height: 0.14rem;
  }
}

.clients__info {
  margin-top: 1.3rem;
  line-height: 1.6rem;
}
@media (max-width: 1366px) {
  .clients__info {
    margin-top: 0.92rem;
    line-height: 1.14rem;
    font-size: 0.71rem;
  }
}

.blog__feed {
  display: flex;
}

.blog__item:not(.blog__item:last-child) {
  margin-right: 2rem;
}
@media (max-width: 1366px) {
  .blog__item:not(.blog__item:last-child) {
    margin-right: 1.42rem;
  }
}

.blog__img {
  position: relative;
}
.blog__img img {
  display: block;
}
@media (max-width: 1366px) {
  .blog__img img {
    width: 18.09rem;
  }
}

.blog__data {
  position: absolute;
  left: -0.6rem;
  bottom: 0.6rem;
  padding: 1rem;
  font-style: italic;
  font-weight: 300;
  color: #fff;
  background: #95e1d3;
}
@media (max-width: 1366px) {
  .blog__data {
    left: -0.42rem;
    bottom: 0.42rem;
    padding: 0.71rem;
  }
}
.blog__data div {
  font-family: Montserrat, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
}
@media (max-width: 1366px) {
  .blog__data div {
    font-size: 1.42rem;
  }
}

.blog__title {
  margin-top: 0.8rem;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #333;
  text-transform: uppercase;
}
@media (max-width: 1366px) {
  .blog__title {
    margin-top: 0.57rem;
    font-size: 0.66rem;
  }
}

.blog__text {
  margin-top: 0.8rem;
  padding-bottom: 1.3rem;
  border-bottom: 0.06rem solid #e5e5e5;
}
@media (max-width: 1366px) {
  .blog__text {
    margin-top: 0.57rem;
    padding-bottom: 0.92rem;
    font-size: 0.71rem;
  }
}

.blog__info {
  margin-top: 1rem;
  font-style: italic;
  font-weight: 300;
}
@media (max-width: 1366px) {
  .blog__info {
    margin-top: 0.71rem;
  }
}

.blog__views {
  margin-right: 1rem;
}
@media (max-width: 1366px) {
  .blog__views {
    margin-right: 0.71rem;
  }
}
.blog__views:before {
  content: url("../images/blog/view.svg");
  margin-right: 0.4rem;
  vertical-align: middle;
}
@media (max-width: 1366px) {
  .blog__views:before {
    margin-right: 0.28rem;
  }
}

.blog__comments:before {
  content: url("../images/blog/speech.svg");
  margin-right: 0.4rem;
  vertical-align: middle;
}
@media (max-width: 1366px) {
  .blog__comments:before {
    margin-right: 0.28rem;
  }
}

.map {
  padding: 3.6rem 0;
  text-align: center;
  background: url("../images/map/bg.jpg") no-repeat;
  background-size: cover;
}
@media (max-width: 1366px) {
  .map {
    padding: 2.57rem 0;
  }
}

.map__link {
  font-family: Montserrat, monospace;
  font-weight: 700;
  font-size: 1.6rem;
  color: #f38181;
  text-transform: uppercase;
  text-decoration: none;
}
.map__link:before {
  margin-bottom: 1rem;
  content: url("../images/map/pin.svg");
  display: block;
}
.map__link:after {
  margin: 1.3rem auto;
  content: "";
  display: block;
  width: 4rem;
  height: 0.2rem;
  background: #f38181;
}

.footer__col:not(.footer__col:last-child) {
  margin-right: 3rem;
}

.footer__col-1 {
  flex: 3;
}

.footer__col-2 {
  flex: 2;
}

.footer__col-3 {
  flex: 1;
}

.footer__content {
  margin: 4.6rem 0;
  display: flex;
}

.footer__logo {
  font-family: Montserrat, monospace;
  font-weight: 700;
  font-size: 3.06rem;
  color: #ccc;
}

.footer__text {
  margin-top: 1.8rem;
  line-height: 1.6rem;
}

.footer__followers {
  margin: 3rem 0 1.2rem 0;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #333;
}
.footer__followers span {
  margin-right: 0.2rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.footer__social-networks {
  padding-top: 1rem;
  border-top: 0.06rem solid #e5e5e5;
  font-style: italic;
  font-weight: 300;
}
.footer__social-networks a {
  margin-left: 1.2rem;
}

.footer__subscription {
  margin-top: 2.3rem;
}
.footer__subscription input {
  padding: 0.8rem;
  border: 0.06rem solid #e7e7e7;
  border-right: 0;
}
.footer__subscription input::placeholder {
  color: #ccc;
}
.footer__subscription button {
  padding: 0.9rem 2rem;
  background: #95e1d3;
  font-family: Montserrat, monospace;
  font-weight: 700;
  font-size: 0.93rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.footer__subscription button:hover {
  text-decoration: underline;
}

.footer__caption {
  margin-bottom: 2.6rem;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #333;
  text-transform: uppercase;
}

.footer__blog {
  display: flex;
  cursor: pointer;
}
.footer__blog:not(.footer__blog:last-child) {
  margin-bottom: 2rem;
}
.footer__blog:hover .footer__title {
  text-decoration: underline;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__img {
  margin-right: 1.3rem;
}

.footer__date {
  margin-top: 0.86rem;
}

.footer__title {
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__date {
  font-style: italic;
  font-weight: 300;
  font-size: 0.86rem;
}

.footer__link {
  display: block;
  margin-top: 1rem;
  font-style: italic;
  font-weight: 300;
  font-size: 0.86rem;
  text-decoration: none;
  color: #333;
}
.footer__link:hover {
  text-decoration: underline;
}

.footer__copyright {
  padding: 1.6rem 0;
  border-top: 0.06rem solid #e5e5e5;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #333;
  text-align: center;
}
.footer__copyright a {
  text-decoration: none;
  color: #f38181;
}
.footer__copyright a:hover {
  text-decoration: underline;
}

.inst-gallery {
  display: flex;
  flex-direction: column;
}

.inst-gallery__row {
  display: flex;
}

.inst-gallery__img {
  margin-right: 0.13rem;
  margin-bottom: 0.13rem;
}
.inst-gallery__img img {
  display: block;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 1rem;
  max-width: 82rem;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1366px) {
  .container {
    max-width: 59rem;
  }
}

/*# sourceMappingURL=style.css.map */
