*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

ul[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
li {
  margin: 0;
}

html {
  font-family: Roboto, monospace;
  font-size: 15px;
  font-weight: 400;
  color: #999;
}
@media (max-width: 1366px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 12px;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "KaushanScript";
  font-style: normal;
  font-weight: 400;
  src: local("KaushanScript"), local("KaushanScript-Regular"), url("../fonts/KaushanScript-Regular.ttf");
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat, monospace;
  font-weight: 700;
  color: #fff;
  padding-top: 2rem;
  transition: all 0.3s linear 0s;
}
.header.initial {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 82rem;
  width: 100%;
  margin: 0 auto;
}
.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  z-index: 1000;
  background: rgba(243, 129, 129, 0.8);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.header__logo {
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 4.4rem;
    left: 0;
    background-color: rgba(243, 129, 129, 0.8);
  }
  .header__nav.active {
    display: flex;
    flex-direction: column;
  }
  .header__nav.active .header__link {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

.header__link {
  margin-left: 3.3rem;
  padding-bottom: 0.6rem;
  font-weight: 400;
  font-size: 0.93rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s linear 0s;
}
.header__link_active {
  color: #fce38a;
  border-bottom: 0.2rem solid #fce38a;
}
.header__link_active svg {
  fill: #fce38a;
}
.header__link svg {
  display: inline-block;
  width: 1.5rem;
}

.intro {
  min-height: 100vh;
  font-family: Montserrat, monospace;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: url("../images/intro/intro_bg.jpg") no-repeat;
  background-size: cover;
}

.intro__subtitle {
  margin-top: 15rem;
  font-family: KaushanScript, monospace;
  font-weight: 400;
  font-size: 4.8rem;
  text-align: center;
}
@media (max-width: 767px) {
  .intro__subtitle {
    font-size: 3.8rem;
  }
}
@media (max-width: 565px) {
  .intro__subtitle {
    font-size: 3.33rem;
  }
}
@media (max-width: 377px) {
  .intro__subtitle {
    font-size: 2.37rem;
  }
}
@media (max-width: 377px) {
  .intro__subtitle {
    font-size: 1.869rem;
  }
}

.intro__title {
  margin: 0 auto;
  max-width: 58rem;
  width: 100%;
  font-size: 10rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 9.3rem;
}
@media (max-width: 767px) {
  .intro__title {
    font-size: 8rem;
    line-height: 7.44rem;
  }
}
@media (max-width: 565px) {
  .intro__title {
    font-size: 7rem;
    line-height: 6.52rem;
  }
}
@media (max-width: 377px) {
  .intro__title {
    font-size: 5rem;
    line-height: 4.65rem;
  }
}
@media (max-width: 322px) {
  .intro__title {
    font-size: 4rem;
    line-height: 3.72rem;
  }
}
.intro__title:after {
  content: "";
  display: block;
  width: 4rem;
  height: 0.2rem;
  background: #fff;
  margin: 3rem auto 4rem;
}

.intro__btn {
  padding: 0.8rem 2rem;
  font-size: 0.93rem;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2rem solid #fff;
  transition: all 0.3s linear 0s;
}
.intro__btn:hover {
  background: linear-gradient(to bottom, #f38181, #fce38a);
}
@media (max-width: 565px) {
  .intro__btn {
    font-size: 0.81rem;
  }
}
@media (max-width: 322px) {
  .intro__btn {
    font-size: 0.648rem;
  }
}

.intro__slider {
  margin-top: 10rem;
  display: flex;
}

.intro__link {
  flex: 1;
  padding: 1.3rem 0;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  border-top: 0.2rem solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 565px) {
  .intro__link {
    padding: 1.14rem 0;
    font-size: 1.05rem;
  }
}
@media (max-width: 322px) {
  .intro__link {
    padding: 0.9rem 0;
    font-size: 0.84rem;
  }
}
.intro__link:not(:last-child) {
  margin-right: 2rem;
}
@media (max-width: 322px) {
  .intro__link:not(:last-child) {
    margin-right: 1rem;
  }
}
.intro__link span {
  margin-right: 0.5rem;
  font-weight: 700;
  font-size: 1.6rem;
}
@media (max-width: 565px) {
  .intro__link span {
    font-size: 1.4rem;
  }
}
@media (max-width: 322px) {
  .intro__link span {
    font-size: 1.12rem;
  }
}
.intro__link_active {
  position: relative;
  border-color: #fff;
}
.intro__link_active:before {
  position: absolute;
  top: -0.2rem;
  content: "";
  display: block;
  width: 4.6rem;
  height: 0.2rem;
  background: #f38181;
}

.section {
  padding-bottom: 7.3rem;
}
@media (max-width: 377px) {
  .section {
    padding-bottom: 3.3rem;
  }
}
.section_small {
  padding-bottom: 0;
}

.section__header {
  color: #333;
  text-align: center;
}

.section__subtitle {
  margin-top: 6rem;
  font-family: KaushanScript, monospace;
  font-weight: 400;
  font-size: 1.6rem;
}

.section__title {
  margin-top: 1rem;
  font-family: Montserrat, monospace;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}
.section__title:after {
  content: "";
  display: block;
  width: 4rem;
  height: 0.2rem;
  background: #f38181;
  margin: 2.5rem auto 3rem;
}

.section__text {
  margin: 0 auto;
  padding-bottom: 6.6rem;
  max-width: 63rem;
  width: 100%;
  text-align: center;
  line-height: 1.6;
}

.media {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 565px) {
  .media {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 565px) {
  .media__item {
    width: 35rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 377px) {
  .media__item {
    width: 29rem;
  }
}
@media (max-width: 322px) {
  .media__item {
    width: 25rem;
  }
}
.media__item:hover .media__img {
  transform: translate(-0.6rem, -0.6rem);
}
.media__item:hover .media__img img {
  opacity: 0.1;
}
.media__item:hover .media__text,
.media__item:hover .media__social-networks {
  opacity: 1;
}

.media__bg {
  position: relative;
  background: #95e1d3;
  margin: 0 auto;
}
@media (max-width: 565px) {
  .media__bg_small {
    width: 25rem;
  }
}

.media__img {
  transition: all 0.3s linear 0s;
  background: linear-gradient(to bottom, #f38181, #fce38a);
}
.media__img img {
  display: block;
  width: 25.33rem;
  transition: all 0.3s linear 0s;
}
@media (max-width: 767px) {
  .media__img img {
    width: 20rem;
  }
}
@media (max-width: 565px) {
  .media__img img {
    width: 35rem;
  }
}
@media (max-width: 377px) {
  .media__img img {
    width: 29rem;
  }
}
@media (max-width: 322px) {
  .media__img img {
    width: 25rem;
  }
}
@media (max-width: 565px) {
  .media__img_small img {
    width: 25rem;
  }
}

.media__text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat, monospace;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s linear 0s;
}
@media (max-width: 767px) {
  .media__text {
    font-size: 1rem;
  }
}
.media__text:before {
  content: url("../images/about/users.svg");
  display: block;
  text-align: center;
}

.media__social-networks {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  transition: all 0.3s linear 0s;
}

.media__social-network {
  width: 3.6rem;
  height: 3.6rem;
  background: #fce38a;
  cursor: pointer;
}
@media (max-width: 767px) {
  .media__social-network {
    width: 3rem;
    height: 3rem;
  }
}
.media__social-network:not(.media__social-network:last-child) {
  border-right: 0.06rem solid rgba(243, 129, 129, 0.1);
}
.media__social-network img {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.media__social-network_active {
  background: #f38181;
}

.media__caption {
  margin-top: 2rem;
  text-align: center;
}

.media__name {
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #333;
  text-transform: uppercase;
}

.media__role {
  margin-top: 0.4rem;
  font-style: italic;
  font-weight: 300;
}

.statistics {
  background: #95e1d3;
}

.statistics__items {
  display: flex;
}
@media (max-width: 377px) {
  .statistics__items {
    flex-direction: column;
  }
}

.statistics__item {
  flex: 1;
  padding: 6rem 0;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
@media (max-width: 377px) {
  .statistics__item {
    padding: 1rem 0;
  }
}
.statistics__item:not(.statistics__item:last-child) {
  border-right: 0.06rem solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 377px) {
  .statistics__item:not(.statistics__item:last-child) {
    border: none;
  }
}

.statistics__num {
  font-weight: 700;
  font-size: 4.8rem;
}

.services__box {
  display: flex;
  flex-direction: column;
}

.services__row {
  display: flex;
  padding: 3.3rem 0;
}
.services__row:not(.services__row:last-child) {
  border-bottom: 0.06rem solid #e5e5e5;
}
@media (max-width: 565px) {
  .services__row:not(.services__row:last-child) {
    border: none;
  }
}
@media (max-width: 565px) {
  .services__row {
    flex-direction: column;
    padding: 0;
  }
}

.services__item {
  flex: 1;
  display: flex;
  padding: 0 2rem;
}
@media (max-width: 565px) {
  .services__item {
    padding: 2rem;
  }
}

.services__icon {
  margin-right: 1.6rem;
}
.services__icon img {
  display: block;
  width: 3rem;
}

.services__title {
  margin-bottom: 1rem;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  text-transform: uppercase;
  color: #333;
}

.services__info {
  line-height: 1.8;
}

.design {
  background: url("../images/design/design-bg.jpg") no-repeat;
  background-size: cover;
}

.design__content {
  position: relative;
}

.design__img_main img {
  display: block;
  width: 38rem;
  margin: 0 auto;
}
@media (max-width: 377px) {
  .design__img_main img {
    width: 28rem;
  }
}
@media (max-width: 322px) {
  .design__img_main img {
    width: 24rem;
  }
}
.design__img_small {
  position: absolute;
  top: 38%;
  left: 60%;
}
.design__img_small img {
  width: 18.26rem;
}
@media (max-width: 377px) {
  .design__img_small img {
    width: 13.52rem;
  }
}
@media (max-width: 322px) {
  .design__img_small img {
    width: 11.65rem;
  }
}

.suggestion__content {
  display: flex;
}
@media (max-width: 565px) {
  .suggestion__content {
    flex-direction: column;
  }
}

.suggestion__img {
  flex: 1;
  margin-right: 2rem;
}
@media (max-width: 565px) {
  .suggestion__img {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.suggestion__img img {
  display: block;
  width: 38rem;
}
@media (max-width: 767px) {
  .suggestion__img img {
    width: 30rem;
  }
}
@media (max-width: 565px) {
  .suggestion__img img {
    width: 100%;
  }
}

.suggestion__accordion {
  flex: 1;
}

.accordion__item {
  position: relative;
  border-collapse: collapse;
}
.accordion__item:not(.accordion__item:last-child) {
  margin-bottom: 0.6rem;
}
.accordion__item_active .accordion__content {
  display: block;
}
.accordion__item_active .accordion__title:after {
  transform: rotate(180deg);
}

.accordion__header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 0.06rem solid #e5e5e5;
  cursor: pointer;
}
.accordion__header:hover .accordion__title {
  text-decoration: underline;
}

.accordion__ico {
  margin-right: 1rem;
}
.accordion__ico img {
  display: block;
  width: 2rem;
}

.accordion__title {
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  text-transform: uppercase;
  color: #333;
}
.accordion__title:after {
  content: url("../images/suggestion/arrow-down.svg");
  position: absolute;
  right: 1rem;
}

.accordion__content {
  display: none;
  max-height: 11rem;
  overflow-y: scroll;
  padding: 1rem;
  border: 0.06rem solid #e5e5e5;
  font-style: italic;
  line-height: 1.5;
  color: #999;
}
.accordion__content::-webkit-scrollbar {
  width: 0.33rem;
}
.accordion__content::-webkit-scrollbar-track {
  background: #f5f5f5;
}
.accordion__content::-webkit-scrollbar-thumb {
  background: #95e1d3;
}

.swiper {
  background: #f8f8f8;
}
.swiper.reviews {
  background: #fff;
}

.swiper-container {
  max-width: 82rem;
  width: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 4.6rem 7.3rem;
}

.swiper-slide__media {
  position: relative;
  margin-right: 4rem;
}
@media (max-width: 565px) {
  .swiper-slide__media {
    display: none;
  }
}

.swiper-slide__img {
  display: block;
  width: 10rem;
}
.swiper-slide__img_positioned {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
}

.swiper-slide__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper-slide__text {
  font-style: italic;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.swiper-slide__signature {
  font-family: KaushanScript, monospace;
  font-size: 1.6rem;
  color: #333;
}
.swiper-slide__signature:before {
  content: "";
  display: inline-block;
  width: 4rem;
  height: 0.2rem;
  background: #f38181;
  margin-right: 0.6rem;
  vertical-align: middle;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ccc;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.5rem;
}

.swiper-button-prev {
  left: 1.5rem;
}

.swiper-button-next {
  right: 1.5rem;
}

.logos {
  padding: 4rem 0;
  background: #f8f8f8;
}
@media (max-width: 565px) {
  .logos {
    padding: 2rem 0;
  }
}

.logos__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 565px) {
  .logos__row {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 565px) {
  .logos__item {
    margin: 0 2rem 2rem;
  }
}
.logos__item img {
  display: block;
  width: 8.8rem;
}

.gallery {
  display: flex;
}
@media (max-width: 565px) {
  .gallery {
    flex-direction: column;
  }
}

.gallery__col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__item {
  position: relative;
  background: linear-gradient(to bottom, #f38181, #fce38a);
}
.gallery__item img {
  display: block;
  max-width: 32rem;
  width: 100%;
  transition: all 0.3s linear 0s;
}
.gallery__item:hover img {
  opacity: 0.1;
}
.gallery__item:hover .gallery__text {
  opacity: 1;
}

.gallery__text {
  opacity: 0;
  transition: all 0.3s linear 0s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.gallery__text:before {
  content: url("../images/works/ico.svg");
}

.gallery__title {
  margin-top: 1rem;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #fff;
  text-transform: uppercase;
}

.galley__subtitle {
  margin-top: 0.9rem;
  font-style: italic;
  font-weight: 300;
  color: #fff;
}

.clients {
  background: url("../images/clients/bg.jpg") no-repeat;
  background-size: cover;
}

.clients__reviews {
  display: flex;
}
@media (max-width: 565px) {
  .clients__reviews {
    flex-direction: column;
  }
}

.clients__col {
  flex: 1;
}
@media (max-width: 565px) {
  .clients__col:not(.clients__col:last-child) {
    margin-bottom: 4.6rem;
  }
}

.clients__item {
  display: flex;
}
.clients__item:not(.clients__item:last-child) {
  margin-bottom: 4.6rem;
}

.clients__avatar {
  margin: 0 1.6rem 0 2.6rem;
}
.clients__avatar img {
  display: block;
  width: 7.3rem;
}

.clients__content {
  margin-right: 3rem;
}

.clients__name {
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #333;
  text-transform: uppercase;
}

.clients__role {
  margin-top: 0.6rem;
  font-style: italic;
  font-weight: 300;
}
.clients__role:after {
  margin-top: 1rem;
  content: "";
  display: block;
  width: 4rem;
  height: 0.2rem;
  background: #f38181;
}

.clients__info {
  margin-top: 1.3rem;
  line-height: 1.6rem;
}

.blog__feed {
  display: flex;
}
@media (max-width: 565px) {
  .blog__feed {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 565px) {
  .blog__item {
    max-width: 27rem;
    width: 100%;
  }
}
.blog__item:not(.blog__item:last-child) {
  margin-right: 2rem;
}
@media (max-width: 565px) {
  .blog__item:not(.blog__item:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.blog__img {
  display: block;
  position: relative;
}
.blog__img img {
  display: block;
  width: 25.33rem;
}
@media (max-width: 767px) {
  .blog__img img {
    width: 19rem;
  }
}
@media (max-width: 565px) {
  .blog__img img {
    width: 27rem;
  }
}
@media (max-width: 322px) {
  .blog__img img {
    width: 25rem;
  }
}

.blog__data {
  position: absolute;
  left: -0.6rem;
  bottom: 0.6rem;
  padding: 1rem;
  font-style: italic;
  font-weight: 300;
  color: #fff;
  background: #95e1d3;
}
.blog__data div {
  font-family: Montserrat, monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
}

.blog__title {
  display: block;
  margin-top: 0.8rem;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}
.blog__title:hover {
  text-decoration: underline;
}

.blog__text {
  margin-top: 0.8rem;
  padding-bottom: 1.3rem;
  border-bottom: 0.06rem solid #e5e5e5;
}

.blog__info {
  margin-top: 1rem;
  font-style: italic;
  font-weight: 300;
}

.blog__views {
  margin-right: 1rem;
}
.blog__views:before {
  content: url("../images/blog/view.svg");
  margin-right: 0.4rem;
  vertical-align: middle;
}

.blog__comments:before {
  content: url("../images/blog/speech.svg");
  margin-right: 0.4rem;
  vertical-align: middle;
}

.map {
  padding: 3.6rem 0;
  text-align: center;
  background: url("../images/map/bg.jpg") no-repeat;
  background-size: cover;
}

.map__link {
  font-family: Montserrat, monospace;
  font-weight: 700;
  font-size: 1.6rem;
  color: #f38181;
  text-transform: uppercase;
  text-decoration: none;
}
.map__link:before {
  margin-bottom: 1rem;
  content: url("../images/map/pin.svg");
  display: block;
}
.map__link:after {
  margin: 1.3rem auto;
  content: "";
  display: block;
  width: 4rem;
  height: 0.2rem;
  background: #f38181;
}

.footer__content {
  margin: 4.6rem 0;
  display: flex;
}
@media (max-width: 565px) {
  .footer__content {
    flex-direction: column;
  }
}

.footer__col:not(.footer__col:last-child) {
  margin-right: 3rem;
}
@media (max-width: 565px) {
  .footer__col:not(.footer__col:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.footer__col-1 {
  flex: 3;
}

.footer__col-2 {
  flex: 2;
}

.footer__col-3 {
  flex: 1;
}

.footer__logo {
  font-family: Montserrat, monospace;
  font-weight: 700;
  font-size: 3.06rem;
  color: #ccc;
}

.footer__text {
  margin-top: 1.8rem;
  line-height: 1.6rem;
}

.footer__followers {
  margin: 3rem 0 1.2rem 0;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #333;
}
.footer__followers span {
  margin-right: 0.2rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.footer__social-networks {
  padding-top: 1rem;
  border-top: 0.06rem solid #e5e5e5;
  font-style: italic;
  font-weight: 300;
}
@media (max-width: 377px) {
  .footer__social-networks {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 377px) {
  .footer__social-networks span {
    display: none;
  }
}
.footer__social-networks a {
  margin-left: 1.2rem;
}
@media (max-width: 377px) {
  .footer__social-networks a {
    margin-left: 0;
  }
}

.footer__subscription {
  margin-top: 2.3rem;
}
.footer__subscription input {
  padding: 0.8rem;
  border: 0.06rem solid #e7e7e7;
  border-right: 0;
}
.footer__subscription input::placeholder {
  color: #ccc;
}
.footer__subscription button {
  padding: 0.9rem 2rem;
  background: #95e1d3;
  font-family: Montserrat, monospace;
  font-weight: 700;
  font-size: 0.93rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.footer__subscription button:hover {
  text-decoration: underline;
}

.footer__caption {
  margin-bottom: 2.6rem;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #333;
  text-transform: uppercase;
}
@media (max-width: 565px) {
  .footer__caption {
    font-size: 1.2rem;
  }
}

.footer__blog {
  display: flex;
  cursor: pointer;
}
.footer__blog:not(.footer__blog:last-child) {
  margin-bottom: 2rem;
}
.footer__blog:hover .footer__title {
  text-decoration: underline;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__img {
  margin-right: 1.3rem;
}
.footer__img img {
  display: block;
  width: 8rem;
}
@media (max-width: 565px) {
  .footer__img img {
    width: 10rem;
  }
}

.footer__date {
  margin-top: 0.86rem;
}

.footer__title {
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 565px) {
  .footer__title {
    font-size: 1rem;
  }
}

.footer__date {
  font-style: italic;
  font-weight: 300;
  font-size: 0.86rem;
}
@media (max-width: 565px) {
  .footer__date {
    font-size: 0.96rem;
  }
}

.footer__link {
  display: block;
  margin-top: 1rem;
  font-style: italic;
  font-weight: 300;
  text-decoration: none;
  color: #333;
}
@media (max-width: 565px) {
  .footer__link {
    font-size: 1.1rem;
  }
}
.footer__link:hover {
  text-decoration: underline;
}

.footer__copyright {
  padding: 1.6rem 0;
  border-top: 0.06rem solid #e5e5e5;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: 0.93rem;
  color: #333;
  text-align: center;
}
@media (max-width: 565px) {
  .footer__copyright {
    font-size: 1.1rem;
  }
}
.footer__copyright a {
  text-decoration: none;
  color: #f38181;
}
.footer__copyright a:hover {
  text-decoration: underline;
}

.inst-gallery {
  display: flex;
  flex-direction: column;
}

.inst-gallery__row {
  display: flex;
}

.inst-gallery__img {
  margin-right: 0.13rem;
  margin-bottom: 0.13rem;
}
.inst-gallery__img img {
  display: block;
  width: 5.86rem;
}
@media (max-width: 565px) {
  .inst-gallery__img img {
    width: 6.86rem;
  }
}

.burger-menu {
  width: 30px;
  padding: 10px 0;
  display: none;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;
}
.burger-menu:focus {
  outline: none;
}
.burger-menu.active .burger-menu__item {
  background: none;
}
.burger-menu.active .burger-menu__item:before {
  transform-origin: left top;
  transform: rotate(45deg) translate3d(0px, -2px, 0);
}
.burger-menu.active .burger-menu__item:after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translate3d(0px, 3px, 0);
}
.burger-menu__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: background 0.2s linear;
}
.burger-menu__item:before, .burger-menu__item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  left: 0;
  z-index: 1;
  transition: transform 0.2s linear;
}
.burger-menu__item:before {
  top: -8px;
}
.burger-menu__item:after {
  bottom: -8px;
}
@media (max-width: 767px) {
  .burger-menu {
    display: block;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 1rem;
  max-width: 82rem;
  width: 100%;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
