$white: #fff;
$white-dark: #f8f8f8;
$black: #333;
$grey: #999;
$grey-lite: #e5e5e5;
$yellow: #fce38a;
$pink: #f38181;
$blue: #95e1d3;

$image_dir: '../images';

$iphone5: "(max-width: 322px)";
$mobile-sm: "(max-width: 565px)";
$mobile: "(max-width: 767px)";
$tablet: "(max-width: 991px)";
$laptop-sm: "(max-width: 1199px)";
$laptop: "(max-width: 1366px)";