@import "../vars";

.accordion__item {
  position: relative;
  border-collapse: collapse;

  &:not(&:last-child) {
    margin-bottom: .6rem;
  }

  &_active {
    .accordion__content {
      display: block;
    }

    .accordion__title:after {
      transform: rotate(180deg);
    }
  }
}

.accordion__header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: .06rem solid $grey-lite;

  cursor: pointer;

  &:hover {
    .accordion__title {
      text-decoration: underline;
    }
  }
}

.accordion__ico {
  margin-right: 1rem;

  img {
    display: block;
    width: 2rem;
  }
}

.accordion__title {
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: .93rem;

  text-transform: uppercase;
  color: $black;

  &:after {
    content: url($image_dir + '/suggestion/arrow-down.svg');
    position: absolute;
    right: 1rem;
  }
}

.accordion__content {
  display: none;
  max-height: 11rem;
  overflow-y: scroll;

  padding: 1rem;
  border: .06rem solid $grey-lite;

  font-style: italic;
  line-height: 1.5;
  color: $grey;

  &::-webkit-scrollbar {
    width: .33rem;
  }

  &::-webkit-scrollbar-track {
    background: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background: $blue;
  }
}