@import "../vars";

.accordion__item {
  position: relative;
  border-collapse: collapse;
  &:not(&:last-child) {
    margin-bottom: .6rem;
  }

  &_active {
    .accordion__content {
      display: block;
    }

    .accordion__title:after {
      transform: rotate(180deg);
    }
  }
}

.accordion__header {
  display: flex;
  align-items: center;
  padding: 1rem;

  border: .06rem solid $grey-lite;
}

.accordion__ico {
  margin-right: 1rem;
}

.accordion__title {
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: .93rem;

  text-transform: uppercase;
  color: $black;

  &:after {
    content: url($image_dir + '/suggestion/arrow-down.svg');
    position: absolute;
    right: 1rem;
  }
}

.accordion__content {
  display: none;

  padding: 1rem;
  border: .06rem solid $grey-lite;

  font-style: italic;
  line-height: 1.5;
  color: $grey;
}