@import "../vars";

.blog__feed {
  display: flex;
}

.blog__item {
  &:not(&:last-child) {
    margin-right: 2rem;

    @media #{$laptop} {
      margin-right: 1.42rem;
    }
  }
}

.blog__img {
  position: relative;

  img {
    display: block;

    @media #{$laptop} {
      width: 18.09rem;
    }
  }
}

.blog__data {
  position: absolute;
  left: -.6rem;
  bottom: .6rem;

  padding: 1rem;

  font-style: italic;
  font-weight: 300;
  color: $white;

  background: $blue;

  @media #{$laptop} {
    left: -.42rem;
    bottom: .42rem;
    padding: .71rem;
  }

  div {
    font-family: Montserrat, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;

    @media #{$laptop} {
      font-size: 1.42rem;
    }
  }
}

.blog__title {
  margin-top: .8rem;
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: .93rem;
  color: $black;
  text-transform: uppercase;

  @media #{$laptop} {
    margin-top: .57rem;
    font-size: .66rem;
  }
}

.blog__text {
  margin-top: .8rem;
  padding-bottom: 1.3rem;
  border-bottom: .06rem solid $grey-lite;

  @media #{$laptop} {
    margin-top: .57rem;
    padding-bottom: .92rem;
    font-size: .71rem;
  }
}

.blog__info {
  margin-top: 1rem;
  font-style: italic;
  font-weight: 300;

  @media #{$laptop} {
    margin-top: .71rem;
  }
}

.blog__views {
  margin-right: 1rem;

  @media #{$laptop} {
    margin-right: .71rem;
  }

  &:before {
    content: url($image_dir + '/blog/view.svg');
    margin-right: .4rem;
    vertical-align: middle;

    @media #{$laptop} {
      margin-right: .28rem;
    }
  }
}

.blog__comments {
  &:before {
    content: url($image_dir + '/blog/speech.svg');
    margin-right: .4rem;
    vertical-align: middle;

    @media #{$laptop} {
      margin-right: .28rem;
    }
  }
}