@import "../vars";

.intro {
  font-family: Montserrat, monospace;
  font-weight: 700;

  color: $white;
  text-align: center;

  background: url($image_dir + '/intro/intro_bg.jpg') no-repeat;
  background-size: cover;
}

.intro__subtitle {
  margin-top: 10rem;

  font-family: KaushanScript, monospace;
  font-weight: 400;
  font-size: 4.8rem;

  text-align: center;
  
  @media #{$mobile} {
    font-size: 3.8rem;
  }

  @media #{$mobile-sm} {
    font-size: 3.33rem;
  }

  @media #{$iphoneX} {
    font-size: 2.37rem;
  }

  @media #{$iphoneX} {
    font-size: 1.869rem;
  }
}

.intro__title {
  margin: 0 auto;

  max-width: 58rem;
  width: 100%;

  font-size: 10rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 9.3rem;

  @media #{$mobile} {
    font-size: 8rem;
    line-height: 7.44rem;
  }

  @media #{$mobile-sm} {
    font-size: 7rem;
    line-height: 6.52rem;
  }

  @media #{$iphoneX} {
    font-size: 5rem;
    line-height: 4.65rem;
  }

  @media #{$iphone5} {
    font-size: 4rem;
    line-height: 3.72rem;
  }

  &:after {
    content: '';
    display: block;
    width: 4rem;
    height: .2rem;
    background: $white;
    margin: 3rem auto 4rem;
  }
}

.intro__btn {
  padding: .8rem 2rem;

  font-size: .93rem;
  text-transform: uppercase;
  text-decoration: none;

  border: .2rem solid $white;

  @media #{$mobile-sm} {
    font-size: .81rem;
  }

  @media #{$iphone5} {
    font-size: .648rem;
  }
}

.intro__slider {
  margin-top: 10rem;
  display: flex;
}

.intro__link {
  flex: 1;
  padding: 1.3rem 0;

  font-weight: 400;
  font-size: 1.2rem;

  text-decoration: none;
  text-transform: uppercase;
  text-align: left;

  border-top: .2rem solid rgba(255,  255, 255, .5);

  @media #{$mobile-sm} {
    padding: 1.14rem 0;
    font-size: 1.05rem;
  }

  @media #{$iphone5} {
    padding: .9rem 0;
    font-size: .84rem;
  }

  &:not(:last-child) {
    margin-right: 2rem;

    @media #{$iphone5} {
      margin-right: 1rem;
    }
  }

  span {
    margin-right: .5rem;
    font-weight: 700;
    font-size: 1.6rem;

    @media #{$mobile-sm} {
      font-size: 1.4rem;
    }

    @media #{$iphone5} {
      font-size: 1.12rem;
    }
  }

  &_active {
    position: relative;
    border-color: $white;

    &:before {
      position: absolute;
      top: -.2rem;

      content: '';
      display: block;
      width: 4.6rem;
      height: .2rem;
      background: $pink;
    }
  }
}