@import "../vars";

.media {
  display: flex;
  justify-content: space-between;
}

.media__item {
  &:hover {
    .media__img {
      transform: translate(-10px, -10px);

      img {
        opacity: .1;
      }
    }

    .media__text,
    .media__social-networks {
      opacity: 1;
    }
  }
}

.media__bg {
  position: relative;
  background: $blue;
}

.media__img {
  transition: all .3s linear 0s;
  background: linear-gradient(to bottom, $pink, $yellow);

  img {
    display: block;
    transition: all .3s linear 0s;
    
    @media #{$laptop} {
      width: 18rem;
    }
  }
}

.media__text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: Montserrat, monospace;
  font-weight: 700;
  font-size: 1.2rem;
  color: $white;

  text-transform: uppercase;
  transition: all .3s linear 0s;

  &:before {
    content: url($image_dir + '/about/users.svg');
    display: block;
    text-align: center;
  }
  
  @media #{$laptop} {
    font-size: .85rem;
  }
}

.media__social-networks {
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;

  transition: all .3s linear 0s;
}

.media__social-network {
  width: 3.6rem;
  height: 3.6rem;
  background: $yellow;

  cursor: pointer;

  &:not(&:last-child) {
    border-right: .06rem solid rgba(243, 129, 129, .1);
  }

  img {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &_active {
    background: $pink;
  }

  @media #{$laptop} {
    width: 2.57rem;
    height: 2.57rem;
  }
}

.media__caption {
  margin-top: 2rem;
  text-align: center;

  @media #{$laptop} {
    margin-top: 1.42rem;
  }
}

.media__name {
  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: .93rem;
  color: $black;

  text-transform: uppercase;

  @media #{$laptop} {
    font-size: .66rem;
  }
}

.media__role {
  margin-top: .4rem;

  font-style: italic;
  font-weight: 300;

  @media #{$laptop} {
    margin-top: .28rem;
    font-size: .71rem;
  }
}