@import "../vars";

.statistics {
  background: $blue;
}

.statistics__items {
  display: flex;

  @media #{$iphoneX} {
    flex-direction: column;
  }
}

.statistics__item {
  flex: 1;

  padding: 6rem 0;

  font-family: Montserrat, monospace;
  font-weight: 400;
  font-size: .93rem;
  text-transform: uppercase;
  text-align: center;

  color: $white;

  @media #{$iphoneX} {
    padding: 1rem 0;
  }

  &:not(&:last-child) {
    border-right: .06rem solid rgba(255, 255, 255, .5);

    @media #{$iphoneX} {
      border: none;
    }
  }
}

.statistics__num {
  font-weight: 700;
  font-size: 4.8rem;
}